<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get" style="background-color: white;width: 90%"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group d-flex ">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <input type="date" placeholder="Adresse,quertier,restaurant" name="" class="form-control" style="width: 200px">
    <input type="time" name="" class="form-control">
    <input type="number" name="" class="form-control" style="width: 120px;margin-right:140px">
        <button name="button" type="submit" class="btn btn-flat" class="form-control">
      <i class="fas fa-search"></i> Search
    </button>
    </div>
</form>
