<ul id="nav-tab" class=" nav">
  <li class="active"><a href="#menu">Menus</a></li>
  <li><a href="#description">Description</a></li>
  <li><a href="#avis">Avis</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active p-2" id="menu">Menu</div>
<div class="tab-pane p-2" id="description"> <%= @restaurant.description %> </div>
<div class="tab-pane p-2" id="avis">Avis</div>
</div>

